.advantages {
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
    .list {
        display: flex;
    }
    .item {
        margin-right: 30px;
        width: 270px;
    }
    .item:last-child {
        margin-right: 0;
    }
    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        width: 270px;
        height: 120px;
    
        background-color: var(--secondary-bg-color);
    }
}

.advantages-title {
    color: var(--title-color);

    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages-text {
    color: var(--primary-text-color);

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: justify;
}